@media screen and (min-width: 320px) and (max-width: 365px) {
    .main-title{
        font-size: 12px;
    }
    .keyboard>button{
        font-size: 24px;
        width: 50px;
        height: 50px;
        margin: 10px;
        justify-content: center;
        align-items: center;

    }

}